{% extends "base.html" %}

{% block content %}
<!-- Shows the customer's current bookings -->
<section>
    <div class="container height mt-5 pt-5 book">
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2">
                <h3>Manage Bookings</h3>

                <div class="container">
                    <div class="row">
                        {% for booking in bookings %}
                        <div class="col-md-8 card mb4 mt-3">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Weclome back {{ booking.name }}</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Here are your current bookings</h6>
                                    <p class="card-text">Date: {{ booking.booking_date }}</p>
                                    <p class="card-text">Time: {{ booking.booking_time }}</p>
                                    <p class="card-text">Number of guests: {{ booking.number_of_guests }}</p>
                                    <p class="card-text">Phone: {{ booking.phone }}</p>
                                    <p class="card-text">Email: {{ booking.email_address }}</p>

                                    <a href="/ /{{booking.id}}" class="card-link">Edit Booking</a>
                                    <a href="/delete_booking/{{booking.id}}" class="card-link">Delete Booking</a>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <p>You have no bookings</p>
                        {% endfor %}
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}